@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap')

@font-face {
  font-family: 'IBM Plex Mono';
}

html {
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}


@tailwind components;

@tailwind utilities;
